<div class="container-fluid about">

  <h3>
    <strong>What is Strack?</strong>
  </h3>
  <p>Strack is a platform for trainers and their clients to create and keep track of everything in a simple and efficient way.
    It is the perfect habitat built to make it as seamless as possible to get healthy. </p>
  <p>Strack’s name is derived from its three characteristics - Swiftness, Smoothness, and Smartness. The three key components
    required to make it effortless to manage clients, create programs and most important of all: track your fitness.</p>

</div>
