.mdl-layout {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.mdl-card {
  border-radius: 6px;
  /* width: 500px;
  height: 500px;
  text-align: center; */
}
