.bg {
  background-image: url("../../assets/bg.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  border-radius: 5px;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  border-radius: 25px;
}
