<div class="bg">
  <div class="text-center">
    <mat-card>
      <mat-card-title>
        Registration
      </mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="createUser()" #signUpForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput required [(ngModel)]="user.firstName" name="firstName" #firstName>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput required [(ngModel)]="user.lastName" name="lastName" #lastName>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" required [(ngModel)]="user.email" name="email" #email>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" required [(ngModel)]="password" name="password">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button type="submit" color="primary" [disabled]="!signUpForm.valid">REGISTER</button>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <a mat-button>Forgot Username?</a>
        <a mat-button routerLink="/login">Login</a>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
