<div class="row">
  <div class="col-12 col-md-4">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="card-icon" style="background: #8F19AD">
          <i class="material-icons">schedule</i>
        </div>
        <h2 class="mdl-card__title-text" style="color: #8F19AD">Schedule</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="demo-list-three mdl-list ">
          <li class="mdl-list__item mdl-list__item--one-line ">
            <span class="mdl-list__item-primary-content ">
              Leg day with Vrund Patel at Gold's Gym
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="mdl-chip">
                <span class="mdl-chip__text">2pm</span>
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--one-line ">
            <span class="mdl-list__item-primary-content ">
              Leg day with Vrund Patel at Gold's Gym
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="mdl-chip">
                <span class="mdl-chip__text">2pm</span>
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--one-line ">
            <span class="mdl-list__item-primary-content ">
              Leg day with Vrund Patel at Gold's Gym
            </span>
            <span class="mdl-list__item-secondary-content">
              <span class="mdl-chip">
                <span class="mdl-chip__text">2pm</span>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title ">
        <div class="card-icon" style="background: #DA105F">
          <i class="material-icons">calendar_today</i>
        </div>
        <h2 class="mdl-card__title-text" style="color:#DA105F">Calendar</h2>
      </div>
      <div class="mdl-card__supporting-text">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__title ">
        <div class="card-icon" style="background: #00ACC4;">
          <i class="material-icons">schedule</i>
        </div>
        <h2 class="mdl-card__title-text" style="color: #00ACC4;">Recent Activity</h2>
      </div>
      <div class="mdl-card__supporting-text ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions mdl-card--border ">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="mdl-card mdl-shadow--2dp ">
      <div class="mdl-card__title ">
        <div class="card-icon" style="background: #0D87E7">
          <i class="material-icons">star_rate</i>
        </div>
        <h2 class="mdl-card__title-text " style="color: #0D87E7;">Favorites</h2>
      </div>
      <div class="mdl-card__supporting-text ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions mdl-card--border ">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <div class="card-icon" style="background: #FD8C00">
          <i class="material-icons">chat_bubble_outline</i>
        </div>
        <h2 class="mdl-card__title-text" style="color: #FD8C00">Messages</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>
