.mdl-card {
  width: 100%;
  margin-bottom: 20px;
}

.create-plan-button {
  float: right;
  border-radius: 20px;
}

.card-icon {
  width: 85px;
  height: 35px;
  margin-left: -16px;
  margin-right: 10px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}
