.hero-section {
  padding: 40px;
  height: 100vh;
  background: linear-gradient(90deg, #f6d365 0%, rgba(253, 160, 133, 0) 100%), #fda085;
  color: white;
  margin-bottom: 100px;
}

.section-description {
  padding-top: 60px;
}

.section-description p {
  font-size: 24px;
}

.store-logo {
  height: 100px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

h4 {
  color: #b48407;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.feature {
  margin-top: 85px;
  margin-bottom: 100px;
}

.feature-title {
  font-size: 30px;
  max-width: 400px;
  margin-bottom: 50px;
}

.feature-text,
.feature-text-right {
  line-height: 40px;
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
  max-width: 300px;
}

.feature-text {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 3px 6px 2px -2px #7d7676;
}

.feature-text-right {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: -6px 8px 5px -5px #7d7676;
}

.section-trainer img {
  height: 500px;
}

.transitions {
  width: 100%;
  height: 400px !important;
}

.section-client-app {
  background-color: #00b0ff;
  padding: 30px;
  color: white;
}

.section-client-app i {
  font-size: 60px;
  padding-bottom: 20px;
}

.section-client-app h4 {
  color: white;
  margin-bottom: 50px;
}

.app-feature {
  padding: 25px;
}
