<section class="hero-section">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-1">
      <div class="section-description">
        <h2>WEB & APP VERSIONS</h2>
        <p>Strack is designed for professional trainers to make your business easier.
          <br /> You and your cleints can access Strack anytime anywhere via multiple devices.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-none d-sm-block">
      <img src="../../assets/devices.png" class="img-fluid" alt="">
    </div>
  </div>
</section>
<section class="section-trainer">
  <div class="row feature">
    <div class="col-12 col-md-4 offset-md-2">
      <div class="row">
        <div class="col-12">
          <h4>Desktop Platform</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 feature-title">dashboard with all your belongings</div>
      </div>
      <div class="row feature-text">
        <div class="col-12">
          manage all of your programs, clients and conversations from one integrated space
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/ipad.png" class="img-fluid" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img src="../../assets/app-transition-2.png" class="transitions" alt="">
    </div>
  </div>

  <div class="row feature">
    <div class="col-12 col-md-6 offset-md-1">
      <img src="../../assets/ipad.png" class="img-fluid" alt="">
    </div>
    <div class="col-12 col-md-5">
      <div class="row">
        <div class="col-12 feature-title">programs right at
          <br /> your fingertips</div>
      </div>
      <div class="row feature-text-right">
        <div class="col-12">
          Use presets to create plans within seconds or save the ones you use most often
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img src="../../assets/app-transition.png" class="transitions" alt="">
    </div>
  </div>

  <div class="row feature">
    <div class="col-12 col-md-4 offset-md-2">
      <div class="row">
        <div class="col-12 feature-title">most important thing:
          <br /> track your progress</div>
      </div>
      <div class="row feature-text">
        <div class="col-12">
          Strack’s in-built visual tools combined with real-time sync & MyFitnessPal makes it easy to monitor and share your greatest
          feats
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/ipad.png" class="img-fluid" alt="">
    </div>
  </div>

  <div class="row" style="margin-bottom: 100px;">
    <div class="col-12 text-center" style="font-size: 25px">
      Take the best trainer’s desktop platform right
      <br />to your fingertips with
      <a href="#">Strack Mobile App</a>
    </div>
  </div>
</section>

<section class="section-client-app">
  <div class="row">
    <div class="col-12">
      <h4>Mobile App for Clients</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-calendar-alt"></i>
      </span>
      <h3>Daily Workout</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-chart-bar"></i>
      </span>
      <h3>Progress Reports</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-calendar-alt"></i>
      </span>
      <h3>Daily Workout</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-calendar-alt"></i>
      </span>
      <h3>Daily Workout</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-calendar-alt"></i>
      </span>
      <h3>Daily Workout</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
    <div class="col-12 col-md-4 text-center app-feature">
      <span>
        <i class="far fa-calendar-alt"></i>
      </span>
      <h3>Daily Workout</h3>
      <p>Lorem ipsum dolor Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum
        dolorLorem ipsum dolor</p>
    </div>
  </div>
</section>
