.mdl-layout__header-row {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mdl-layout-title {
  color: white;
}

.material-icons {
  font-size: 35px;
  color: white;
  width: 100%;
  padding: 15px 0px;
}

.mdl-navigation__link {
  text-align: center;
}

.create-plan-button {
  background: #DD5500;
  color: white;
  margin-top: 13px;
  border-radius: 3px;
}

.profile-avatar {
  margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.mdl-layout__content {
  background: rgba(237, 231, 246, 0.5);
  padding: 20px;
}
