<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background: #512DA8;">
    <div class="mdl-layout__header-row mat-elevation-z6">
      <span class="mdl-layout-title">Strack</span>
    </div>
    <div class="row">
      <div class=" col">
        <a class="mdl-navigation__link " href=" ">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <div class="col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect create-plan-button" routerLink="plan-builder">
          <i class="fas fa-plus" style="padding-right: 2px;"></i> Create a plan
        </button>
      </div>
      <div class="col">
        <a class="mdl-navigation__link" routerLink="plans">
          <i class="material-icons"> dashboard </i>
        </a>
      </div>
      <div class="col ">
        <a class="mdl-navigation__link" routerLink="clients">
          <i class="material-icons "> person </i>
        </a>
      </div>
      <div class="col ">
        <a class="mdl-navigation__link" href=" ">
          <i class="material-icons"> group </i>
        </a>
      </div>
      <div class="col ">
        <a class="mdl-navigation__link " href=" ">
          <i class="material-icons"> group </i>
        </a>
      </div>

      <div class="col ">
        <a class="mdl-navigation__link " href=" ">
          <i class="material-icons"> note </i>
        </a>
      </div>
      <div class="col ">
        <a class="mdl-navigation__link " href=" ">
          <img src="../../assets/user.jpg" class="profile-avatar" alt="">
        </a>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
