<section class="section-hero">
  <img src="../../assets/bubbles.svg" class="bg-img" alt="">
  <div class="container content">
    <div class="row">
      <div class="col-12 text-center">
        <div class="hero-text">
          <h1>All fitness in one place.</h1>
          <p>Let us handle the behind-the-scenes so that you can focus on what matters most:
            <strong>
              <em>clients</em>
            </strong>
          </p>
          <button class="learn-more-button" routerLink="/login">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="transition"></div>
<section class="section-features">
  <div class="container">
    <div class="row feature">
      <div class="col-12">
        <h2 style="color: #E6A90B">Swift</h2>
        <p class="feature-text">Save hours per client by creating customizable plans in seconds</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">
        <img src="../../assets/swift.png" class="img-thumbnail" alt="">
      </div>
      <div class="col-12 col-md-4 offset-md-1">
        <!-- <button class="create-plan-button">Create a plan
          <i class="fas fa-plus"></i>
        </button> -->
        <a>
          <img src="../../assets/create-plan.png" class="img-fluid create-plan-button" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<div>
  <img src="../../assets/transition-2.png" class="img-fluid" alt="">
</div>
<section class="section-features">
  <div class="container">
    <div class="row feature">
      <div class="col-12 col-md-6">
        <img src="../../assets/laptop.png" alt="">
      </div>
      <div class="col-12 col-md-5 offset-md-2">
        <h2 style="color: #EA1B1B;">Smooth</h2>
        <p class="feature-text">Share workouts, manage conversations and all the reminders with a single click</p>
        <button class="learn-more-button">Learn More</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="../../assets/db.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="smart-section">
  <div class="container">
    <div class="row feature" style="margin-top: 215px;">
      <div class="col-12 col-md-6 offset-md-3 text-center">
        <h2 style="color:white;">
          <strong>Smart</strong>
        </h2>
        <p class="smart-feature-text">Monitor your progress, vitals and measure the effectiveness of your personalized goal</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 order-2 order-md-1">
        <p class="smart-feature-description-text">Download the Client version or the Trainer version of the Mobile App from Play Store</p>
        <div class="row">
          <div class="col-12 col-md-4 offset-md-8">
            <button class="learn-more-button">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <img src="../../assets/smart.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
