a {
  cursor: pointer;
}

section {
  padding: 20px;
}

.logo {
  /* height: 200px; */
  width: 200px;
  background: transparent;
  border: none;
}

.bg-img {
  position: absolute;
  width: 90%;
  height: 80vh;
  left: 0px;
  top: 120px;
}

.navbar {
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar,
.section-hero {
  background: linear-gradient(90deg, #F6D365 0%, rgba(253, 160, 133, 0) 100%), #FDA085;
}

.navbar-brand {
  font-size: 45px;
  color: white;
  font-family: 'Varela Round';
}

.nav-item {
  padding: 15px;
}

.nav-item a {
  color: white;
}

.section-hero {
  height: 100vh;
  color: #fff;
  padding-top: 100px;
}

#transition {
  position: absolute;
  width: 100%;
  height: 127px;
  left: 0px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #F6D365 0%, rgba(253, 160, 133, 0) 100%), #FDA085;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.hero-text h1 {
  font-weight: 700;
}

.btn-login {
  border-radius: 40px;
  text-align: center;
  padding: .9em 2em;
  border: 2px solid #fff;
}

.learn-more-button {
  font-size: 20px;
  font-weight: bold;
  color: #00178F;
  padding: 10px 25px;
  background: #F2F2F2;
  border: 1px solid #BEBEBE;
  box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-family: 'Varela Round', sans-serif;
}

.create-plan-button {
  margin-top: 200px;
}

.smart-section {
  background-image: url("../../assets/smart-bg.png");
  color: white;
}

.section-header {
  font-family: 'Varela Round', sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.section-features {
  padding: 100px 0 50px 0;
}

.feature {
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 70px;
}

.feature-text {
  font-weight: 300;
  max-width: 350px;
  line-height: 37px;
  font-size: 25px;
  letter-spacing: 0.125em;
}

.smart-feature-text {
  font-weight: 300;
  line-height: 30px;
  font-size: 25px;
  letter-spacing: 0.125em;
}

.feature-text,
.smart-feature-text {
  text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

.smart-feature-description-text {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .feature {
    text-align: center;
    margin-bottom: 20px;
  }
  .feature p {
    font-size: 18px;
  }
  .feature-text {
    font-size: 20px;
  }
  .create-plan-button {
    margin-top: 50px;
  }
  .smart-section img {
    margin-bottom: 20px;
  }
  .smart-feature-description-text {
    font-size: 18px;
  }
}
