<div class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="../../assets/strack-stopper-logo.png" class="logo" alt="Strack Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item active">
        <a class="nav-link" routerLink="about">What is Strack?
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="app">Platform Features</a>
      </li>
      <li class="nav-item">
        <button class="btn-login" routerLink="/login">Login</button>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
